*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #5C5656;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Comfortaa', cursive;
}

#main_container{
    overflow: hidden;
    animation-delay:.25s;
}

.banner{
    position: relative; 
    width: 100%;
    margin: 0% auto;
}

.banner img{
    width: 100%;
}

.header_text{
    color: whitesmoke;
    position:absolute;
    top: 9%;
    font-size: 3.25rem;
    margin-left: 3%;
    text-shadow: 5px 5px 10px  black;
}

.header_info{
    color: #C7726F;
    position:absolute;
    top: 16%;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: 3%;
    text-shadow: 5px 5px 10px  black;
}

.about_header{
    color: #C7726F;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 2.5rem;
}

.about_info{
    color: #B7C7BD;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
}

#banner_id{
background-color: #5C5656;
}

.banner_header{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 5px 5px 10px  black;
    color: #647A6C;
    padding: 3%;
}


.card{
    border: none;
    background-color:#5C5656;
    padding-top: 0% auto;
    margin-top: 4%;
    height: 96%;
}

.thumbnail_img{
    align-self:center;
    width: 25%;
    height: 25%;
}

.card_title{
    color: #C7726F;
    margin-bottom: 3%;
    font-size: 1.25rem;
    text-shadow: 5px 5px 10px  rgb(160, 98, 96);
}

.card_text{
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    color: #B7C7BD;
}

p{
    font-family: 'Open Sans', sans-serif; 
}

.contact-form{
    background-color:#5C5656;
}

li {
    display: block;
    text-decoration: none;
    list-style: none;
}

.contactImg{
    width: 7%;
    height: 7%;
    margin-right: 2%;
    margin-bottom: 1%;

}

.check-list a{
   font-size: 1.5rem;
   color:  #B7C7BD
}


#logo{
widows:35%;
height:35%;
margin-left: 35%;
}

.footer_copy{
    font-size: 1.5rem;
    padding: 1%;
    text-align: center;
}

#footer_banner{
    background-color:#5C5656;
}

.card_title:hover{
    color: #647A6C;
    text-decoration: none;
}

a:hover {
    color: rgb(231, 130, 126);
    text-decoration: none;
  }

  @media (max-width:375px){
    .header_text{
        color: whitesmoke;
        position:absolute;
        top: 42%;
        font-size: 1.25rem;
        margin-left: 1%;
        text-shadow: 5px 5px 10px  black;
    }

    .header_info{
        color: #C7726F;
        position:absolute;
        top: 50%;
        font-size: .90rem;
        font-family: 'Open Sans', sans-serif;
        margin-left: 1%;
        text-shadow: 5px 5px 10px  black;
    }

    .about_header{
        color: #C7726F;
        margin-top: 1.75%;
        margin-bottom: 1%;
        font-size: 2rem;
    }
    
    .about_info{
        color: #B7C7BD;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
    }

    .check-list a{
        margin-top: 3%;
        font-size: 1rem;
        color:  #B7C7BD;
        padding-bottom: 2%;
        
     }

     .banner_header{
        font-size: 2rem;
        text-align: center;
        text-shadow: 5px 5px 10px  black;
        color: #647A6C;
        padding-bottom: 10%;
        margin-top: 0;
    }

    .card-body{
        margin-bottom: 0;
    }

    ul{
        margin-bottom: 6rem;
    }

     

    

  }
