*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5C5656;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Comfortaa', cursive;
}

#main_container{
animation-delay:.25s;
}

.banner{
    position: relative; 
    width: 100%;
    margin: 0% auto;
}

.banner img{
    width: 100%;
    height: 100%vh;
}

.header_text{
    color: whitesmoke;
    position:absolute;
    top: 18%;
    font-size: 1.5rem;
    margin-left: 3%;
    text-shadow: 5px 5px 10px  black;
}

.header_info{
    color: #C7726F;
    position:absolute;
    top: 28%;
    font-size: .75rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: 3%;
    text-shadow: 5px 5px 10px  black;
}

.about_header{
    color: #C7726F;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 1.5rem;
}

.about_info{
    color: #B7C7BD;
    font-size: .75rem;
    font-family: 'Open Sans', sans-serif;
}

#banner_id{
background-color: #5C5656;
}

.banner_header{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 2rem;
    text-align: center;
    text-shadow: 5px 5px 10px  black;
    color: #647A6C;
    padding: 3%;
}


.card{
    background-color:#5C5656;
    padding-top: 0% auto;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 96%;
}

.thumbnail_img{
   width:100%;
}

.card_title{
    color: #C7726F;
    margin-bottom: 3%;
    font-size: 1rem;
    text-shadow: 5px 5px 10px  rgb(160, 98, 96);
}

.card_text{
    font-family: 'Open Sans', sans-serif;
    color: #B7C7BD;
}

p{
    font-family: 'Open Sans', sans-serif; 
}

.contact-form{
    background-color:#5C5656;
}

ul {
    font-size: .75rem;
    margin-left: 16%;
    color:#B7C7BD;
    padding: 5%;
}

li {
    text-decoration: none;
    list-style: none;
}

.check-list a{
   padding: 5%;
   color:  #B7C7BD
}

#logo{
widows:45px;
height:45px;
align-content: center;
margin-left: 43%;
}

.footer_copy{
    padding: 1%;
    text-align: center;
}

#footer_banner{
    background-color:#5C5656;
}

.card_title:hover{
    color: #647A6C;
    text-decoration: none;
}

a:hover {
    color: rgb(231, 130, 126);
    text-decoration: none;
  }

@media (min-width: 600px){
    .header_text{
        font-size: 3rem;
    }

    .header_info{
        font-size: 1.5rem;
        top: 24.5%;
    }

    .about_header{
        margin-top: 1.5%;
        font-size: 3rem;
    }

    .about_info{
        font-size: 1rem;
        line-height:1.90em; 
        margin-bottom: 2%;
    }

    ul {
     font-size: 1.2rem;
    }

    #logo{
        widows:90px;
        height:90px;
        align-content: center;
        margin-left: 39%;
    }
        
        .footer_copy{
            font-size: 1.5rem;
    }
}

@media (min-width: 1024px){
    .header_text{
        font-size: 3rem;
    }

    .header_info{
        font-size: 2rem;
        top: 25%;
    }

    .about_header{
        margin-top: 1.5%;
        font-size: 2rem;
    }

    .about_info{
        font-size: 1.2rem;
        line-height:1.90em; 
        margin-bottom: 2%;
    }

    .banner_header{
        font-size: 2rem;
        padding: 0%;
    }

    .card_title{
        font-size: 1.75rem;
    }

    .card_text{
        font-size: 1.2rem;
    }
    
    ul {
     font-size: 1em;
    }

    #logo{
        widows:60px;
        height:60px;
        align-content: center;
        margin-left: 41%;
    }
        
        .footer_copy{
            font-size: 1rem;
    }
}


@media (min-width: 2560px){
    .header_text{
        font-size: 8rem;
    }

    .header_info{
        font-size: 5rem;
        top: 25%;
    }

    .about_header{
        margin-top: 1.5%;
        font-size: 5rem;
    }

    .about_info{
        font-size: 2rem;
        line-height:1.90em; 
        margin-bottom: 2%;
    }

    .banner_header{
        font-size: 6rem;
        padding: 0%;
    }

    .card_title{
        font-size: 3rem;
    }

    .card_text{
        font-size: 2rem;
    }
    
    ul {
     font-size: 2.5rem;
    }

    #logo{
        widows:200px;
        height:200px;
        align-content: center;
        margin-left: 35%;
    }
        
        .footer_copy{
            font-size: 3rem;
    }
}